<h2>question || {{model.question.title}}</h2>

<p>
  title -> {{model.question.title}} <br>
  author -> {{model.question.author}} <br>
  question -> {{model.question.question}} <br>
</p>
<h4>add answer</h4>

{{new-answer-tile question=model.question saveAnswer='saveAnswer'}}
<hr>
<div>
  {{#each model.question.answer as |answer|}}
     {{answer-tile answer=answer}}
  {{/each}}
</div>
